<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css", type="text/css")
    body
        .container
            block content
            br
            hr
            footer
                p   Copyright &copy; 2019
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.js")